<section>
    Check out these pets!
    <div>
    <ul class="cards">
    {{#each animals}}
    {{!-- {{#isEqual this.imageUrl undefined}}
    <img src="../public/images/placeholder.jpg" alt="Placeholder failed to load" width="256" height="256">
    {{else}}
    <img src="{{this.imageUrl}}" alt="placeholder" width="256" height="256">
    {{/isEqual}} --}}
    <li>{{id}}</li>
    <li>{{name}}</li>
    <li>{{type}}</li>
    {{/each}}
    </ul>
    </div>
</section>
