<h2><label for="type"><br>Looking fur a specific type of floof?<br><indent>Check out these pets!</indent></label></h2>
<button><select name="type" id="type">
    <option value="default">All Animals</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
   </select></button>
<button onclick="getOptions()">GO</button>
<script type="text/javascript">
function getOptions(){
   selectType = document.querySelector('#type')
    type = selectType.value
    if(type == "default"){
        window.location.href = '/'
    }
    else{
   window.location.href = `/search/${type}`
    }
}
</script>
<section>
       <div>
    <ul class="cards">
    {{#each pets}}

    {{#isEqual this.imageUrl undefined}}
    <img src="../public/images/placeholder.jpg" alt="Placeholder failed to load" width="256" height="256">
    {{else}}
    <section>{{this.type}}</section><br>
    <section><left>{{this.name}}</left></section></ul></br>
    <img src="{{this.imageUrl}}" alt="placeholder" width="256" height="256">
    <button onclick="seeMore('{{id}}', event)" type="submit">Wanna see more about me?</button>
    {{/isEqual}}
    {{!-- <div>{{this.id}}</div> --}}
    {{!-- <section>{{this.name}}</section>
    <section>{{this.type}}</section> --}}
    {{/each}}
    </ul>
    </div>
     <script>
        function seeMore(petId, event){
   event.stopPropagation();
   window.location.href = `/id/${petId}`;
}
    </script>
</section>