<section>
    Check out these pets!
    <div>
    <ul class="cards">
    {{#each pets}}
    <img src="{{this.imageUrl}}" alt="{{this.id}}" style="max-width:100%">
    <li>{{this.id}}</li>
    <li>{{this.name}}</li>
    <li>{{this.type}}</li>
    {{/each}}
    </ul>
    </div>
</section>