<h2><label for="type"><indent>Check out these pets!</indent></label></h2>
<button><select name="type" id="type">
    <option value="default">All Animals</option>
    <option value="dog">Dog</option>
    <option value="cat">Cat</option>
   </select></button>
<button onclick="getOptions()" >GO</button>
<input type="text"id="location" value="location">location</input>
<button value = "2" onclick="nextPage()" id = "page">NEXT</button>
<button value = "2" onclick="lastPage()" id = "page">PREV</button>
<section>
    <script>
       window.onload = refreshLocation
       function getLocationValue() {
    const petLocation = document.querySelector('#location');
    const params = new URLSearchParams(window.location.search);

    if (petLocation && petLocation.value) {
        return petLocation.value;
    }
    if (params.get("location")) {
        return params.get("location");
    }
    return "80226";
}

function nextPage() {
    const location = getLocationValue();
    
    let page = parseInt(new URLSearchParams(window.location.search).get("page"));
    if (isNaN(page)) {
        page = 1;
    }
    
    window.location.href = `?page=${page + 1}&location=${location}`;
}

function lastPage() {
    const location = getLocationValue();
    
    let page = parseInt(new URLSearchParams(window.location.search).get("page"));
    if (isNaN(page) || page <= 1) {
        alert("You are on Page 1");
        return;
    }
    
    window.location.href = `?page=${page - 1}&location=${location}`;
}


       function refreshLocation(){
    const searchParams = window.location.search;
    const params = new URLSearchParams(searchParams);
    const currentLocation = params.get("location") || "80226"; // Use the default "80226" if location param is missing or null
    document.getElementById("location").setAttribute('value', currentLocation);
}

    </script>
</section>
<script type="text/javascript">
function getOptions(){
   selectType = document.querySelector('#type')
    type = selectType.value
    if(type == "default"){
        window.location.href = '/'
    }
    else{
   window.location.href = `/search/${type}`
    }
    
}

</script>


<section>
       <div>
    <ul class="cards">
    {{#each pets}}

    {{#isEqual this.imageUrl undefined}}
    <img src="../public/images/placeholder.jpg" alt="Placeholder failed to load" width="256" height="256">
    {{else}}
    <section>{{this.type}}</section><br>
    <section><left>{{this.name}}</left></section></ul></br>
    <img src="{{this.imageUrl}}" alt="placeholder" width="256" height="256">
    <button onclick="seeMore('{{id}}', event)" type="submit">Wanna see more about me?</button>
    {{/isEqual}}
    {{!-- <div>{{this.id}}</div> --}}
    {{!-- <section>{{this.name}}</section>
    <section>{{this.type}}</section> --}}
    {{/each}}
    </ul>
    </div>
     <script>
        function seeMore(petId, event){
   event.stopPropagation();
   window.location.href = `/id/${petId}`;
}
    </script>
</section>