<section>
    Check out these pets!
    <ol>
        
    {{#each pets}}
    <img src="{{this.imageUrl}}" alt="{{this.id}}">
    <li>{{this.id}}</li>
    <li>{{this.name}}</li>
    <li>{{this.type}}</li>
    {{/each}}
    </ol>
</section>