<label for="breeds"> Looking for a specific type of Floof?</label>
<select name="type" id="type">
    <option value="{{type}}">{{type}}</option>
    <option value="default">All animals</option>
   </select>
<select name="breeds" id="breeds">
    <option value="default">Looking for a specific type of Floof?</option>
    {{#each breeds}}
    <option value="{{breed}}">{{breed}}</option>
    {{/each}}
    <input type="text"id="location">location
<button value = "2" onclick="nextPage()" id = "page">NEXT</button>
<button value = "2" onclick="lastPage()" id = "page">PREV</button>
<section>
<section>
   <section>
 <script>
       window.onload = refreshLocation
       function getLocationValue() {
    const petLocation = document.querySelector('#location');
    const params = new URLSearchParams(window.location.search);

    if (petLocation && petLocation.value) {
        return petLocation.value;
    }
    if (params.get("location")) {
        return params.get("location");
    }
    return "80226";
}

function nextPage() {
    const location = getLocationValue();
    
    let page = parseInt(new URLSearchParams(window.location.search).get("page"));
    if (isNaN(page)) {
        page = 1;
    }
    
    window.location.href = `?page=${page + 1}&location=${location}`;
}

function lastPage() {
    const location = getLocationValue();
    
    let page = parseInt(new URLSearchParams(window.location.search).get("page"));
    if (isNaN(page) || page <= 1) {
        alert("You are on Page 1");
        return;
    }
    
    window.location.href = `?page=${page - 1}&location=${location}`;
}


        function refreshLocation(){
    searchParams =window.location.search
       locationParams = searchParams.split('&location=')
       currentLocation =locationParams[1]
       document.getElementById("location").setAttribute('value',`${currentLocation}`);
        }
    </script>
</section>
</select>
<button onclick="getOptions()">GO</button>
<script type="text/javascript">
function getOptions(){
   selectBreed = document.querySelector('#breeds');
   selectType = document.querySelector('#type')
    breed = selectBreed.value;
    type = selectType.value
    if(type == "default"){
        window.location.href = '/'
    }
    else if(breed == "default" && type !== "default"){
        window.location.href = `/search/${type}`
    }
    else{
   window.location.href = `/search/${type}/${breed}`
    }
}

</script>
<section>
    Check out these pets!
    <div>
        <ul class="cards">
           
            {{#each pets}}
            <button onclick="seeMore('{{id}}', event)" type="submit">Wanna see more about me?</button>


            {{#isEqual this.imageUrl null}}
            <img src="https://c8.alamy.com/comp/EKC44N/placeholder-banner-dog-EKC44N.jpg" alt="Placeholder failed to load" width="256" height="256">
            {{else}}
            <img src="{{this.imageUrl}}" alt="placeholder" width="256" height="256">
            {{/isEqual}}
            <li>{{this.name}}</li>
            {{#isEqual this.description null}}
            <li>This Furry Friend is a new addition, sit tight while we try to put this bundle of joy into words</li>
            {{else}}
            <li>{{{this.description}}}</li>
            {{/isEqual}}
            <li>{{this.type}}</li>
            {{/each}}
        </ul>
    </div>
    <script>
        function seeMore(petId, event){
   event.stopPropagation();
   window.location.href = `/id/${petId}`;
}
    </script>
</section>