<!-- Form for breed/type search -->
<label for="type">Looking for a specific type of Floof?</label>
<select name="type" id="type">
        <option value="{{type}}">{{type}}</option>
        <option value="default">All Animals</option>
        <option value="dog">Dogs</option>
        <option value="cat">Cats</option>
        <option value="rabbit">Rabbits</option>
        <option value="bird">Birds</option>
        <option value="horse">Horses</option>
        <option value="barnyard">Barnyard</option>
        <option value="small%20&%20furry"> Small & Furry</option>
        <option value="Scales%2C%20Fins%20%26%20Other">Scales, Fins, & Others</option>
    </select>

<label for="breeds">Choose a breed:</label>
<select name="breeds" id="breeds">
    <option value="default" {{#unless currentBreed}}selected{{/unless}}>Looking for a specific type of Floof?</option>
    {{#each breeds}}
     <option value="{{this.breed}}" {{#isEqual this.breed ../currentBreed}}selected{{/isEqual}}>{{this.breed}}</option>

    {{/each}}
</select>


<label for="location">Location:</label>
<input type="text" id="location">
<button onclick="getOptions()">GO</button>

<button onclick="nextPage()" id="nextPageBtn">NEXT</button>
<button onclick="lastPage()" id="prevPageBtn">PREV</button>
<section>
    Check out these pets!
    <div>
        <ul class="cards">
            {{#each pets}}
            <button onclick="seeMore('{{id}}', event)" type="submit">Wanna see more about me?</button>
            {{#isEqual this.imageUrl null}}
            <img src="https://c8.alamy.com/comp/EKC44N/placeholder-banner-dog-EKC44N.jpg" alt="Placeholder failed to load" width="256" height="256">
            {{else}}
            <img src="{{this.imageUrl}}" alt="Pet image" width="256" height="256">
            {{/isEqual}}
            <p>{{this.name}}</p>
            {{#isEqual this.description null}}
            <p>This Furry Friend is a new addition, sit tight while we try to put this bundle of joy into words</p>
            {{else}}
            <p>{{{this.description}}}</p>
            {{/isEqual}}
            <p>{{this.type}}</p>
            {{/each}}
        </ul>
    </div>

    <script>
        function seeMore(petId, event){
            event.stopPropagation();
            window.location.href = `/id/${petId}`;
        }
    </script>
<script type="text/javascript" defer>
window.onload = refreshLocation;

function getLocationValue() {
    const petLocation = document.querySelector('#location');
    const params = new URLSearchParams(window.location.search);

    if (petLocation && petLocation.value) {
        return petLocation.value;
    }
    if (params.get("location")) {
        return params.get("location");
    }
    return "80226";
}

function nextPage() {
    const location = getLocationValue();
    
    let page = parseInt(new URLSearchParams(window.location.search).get("page"));
    if (isNaN(page)) {
        page = 1;
    }
    
    window.location.href = `?page=${page + 1}&location=${location}`;
}

function lastPage() {
    const location = getLocationValue();
    
    let page = parseInt(new URLSearchParams(window.location.search).get("page"));
    if (isNaN(page) || page <= 1) {
        alert("You are on Page 1");
        return;
    }
    
    window.location.href = `?page=${page - 1}&location=${location}`;
}

function refreshLocation() {
    const params = new URLSearchParams(window.location.search);
    const currentLocation = params.get("location") || "80226";
    document.getElementById("location").setAttribute('value', currentLocation);
}

function getOptions() {
        const locationValue = getLocationValue()
         selectBreed = document.querySelector('#breeds')
        selectType = document.querySelector('#type')
        breed = selectBreed.value
        type = selectType.value
        if (type == "default") {
            window.location.href = `/?location=${locationValue}`
        }
          else if(breed == "default" && type !== "default") {
            window.location.href = `/search/${type}?location=${locationValue}`
        }
        else{
   window.location.href = `/search/${type}/${breed}?location=${locationValue}`
    }
}
</script>
</section>

