<select name="type" id="type">
    <option value="{{type}}">{{type}}</option>
    <option value="default">All animals</option>
   </select>
<select name="breeds" id="breeds">
    <option value="default">Looking for a specific type of Floof?</option>
    {{#each breeds}}
    <option value="{{breed}}">{{breed}}</option>
    {{/each}}

</select>
<button onclick="getOptions()">GO</button>
<script type="text/javascript">
function getOptions(){
   selectBreed = document.querySelector('#breeds');
   selectType = document.querySelector('#type')
    breed = selectBreed.value;
    type = selectType.value
    if(type == "default"){
        window.location.href = '/'
    }
    else if(breed == "default" && type !== "default"){
        window.location.href = `/search/${type}`
    }
    else{
   window.location.href = `/search/${type}/${breed}`
    }
}

</script>
<section>
{{#isEqual photos null}}
    <img src="https://c8.alamy.com/comp/EKC44N/placeholder-banner-dog-EKC44N.jpg" alt="Placeholder failed to load" width="256" height="256">
    {{else}}
    <img src="{{photo}}" alt="placeholder" width="400" height="600">
    {{/isEqual}}
{{#with animal.dataValues}}
<p>Name: {{name}}</p>
<p>Gender: {{gender}}</p>
{{#isEqual breeds.mixed false}}
<p>Breed:{{breeds.primary}}</p>
{{else}}
<p>Breed: Mixed breed</p>
{{/isEqual}}
{{#isEqual description null}}
<p>Description: We are still learning about this little guy, description coming soon!</p>
{{else}}
<p>Description: {{description}}</p>
{{/isEqual}}

{{/with}}
</section>
